@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}


body{
  min-width: 1140px;
  margin: 0 auto;
  overflow-y: scroll;
}

.button-back{
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 5px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  cursor: pointer;
}