.player {
  margin-top: 50%;
  text-align: center;
  &__count {
    &--point {
      display: flex;
      flex-direction: column;
      > span:nth-child(2) {
        width: 40px;
        height: 1px;
        background: linear-gradient(180deg, #f11414, #fbf06f);
        margin: auto;
      }
    }
  }

  &__button{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    &>button:nth-child(2){
      margin-top: 1rem;
    }
  }
}
