.Room{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 100vh;
    &__board{
        flex: 0 1 50%;
        display: flex;
        align-items: center;
    }

    &__player{
        flex: 0 1 10%;
    }
    &__chatbox{
        flex: 0 1 10%;
    }
}