// No CSS
.home {
    // background-color: rgb(241, 135, 197);
    height: 100vh;
    padding: 2rem;
    transition: all .2s;
    &__user{
        text-align: center;
    }
    &__board{
        display: grid;
        padding: 0 5rem;
        grid-template-columns: 70% 25%;
        column-gap: 5%;
        &--user{
            position: relative;
        }
    }
    & .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}